[Unit]
Description=Libcamera video stream on port tcp://drone.local:2222
After=network.target

[Service]
Type=simple
User=drone
ExecStart=/bin/sh -lc 'exec rpicam-vid -t 0 --inline --shutter 5000 --framerate 25 --width 720 --height 720 -o - | nc -lk -p 2222'
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target